<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Snipster{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('main.index') }}">Snipster</a></h1>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>
