{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('main.add_snippet') }}">Add Snippet</a>
<hr>
<div>
    {% for snippet in snippets %}
    <div>
        <a href="{{ url_for('main.view_snippet', snippet_id=snippet.id) }}">{{ snippet.title }}</a>
        {% if snippet.favorite %}
            <span>&#11088;</span>
        {% endif %}
        <p>{{ snippet.description }}</p>
        <pre><code>{{ snippet.code }}</code></pre>
        {% if snippet.tags | length > 0 %}
        <h5>
            {% for tag in snippet.tags %}
            <span>#{{ tag.name }}</span>
            {% endfor %}
        </h5>
        {% endif %}
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}
